form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 270px;
}

.input {
  font-size: 14px;
  width: 60%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 6px;
}

.btn {
  background-color: orange;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  margin-left: 4px;
}
